body {
    background: #2B2B2B !important;
    color: #A9B7C6 !important;
    height: 80vh;
    overflow-y:hidden;
}


.white-box {
    background: none;
    border-radius: 10px;
    border: solid #A9B7C6;
    color: #A9B7C6
}

#logout {
    position: absolute;
    right: 1em;
    top: 1em;
    width: auto;
}

#title, #userlist > div {
    text-align: center;
}

input:focus, button:focus {
    outline: none !important;
    box-shadow: 0 0 0 1pt #B5C4D3;
}

@media (min-width:320px)  {

    body {
        font-size: 18px;
    }

    #chatbox, #userlist {
        height: 80vh;
        overflow: auto;
        margin: auto auto 5vh;
    }

}

@media (min-width:1281px)  {
    #chatbox, #userlist {
        height: 50vh;
        overflow: auto;
        margin: auto auto 5vh;
    }
}

.msg-name {
    text-align: right;
    white-space: nowrap;
}

.msg-message {
    text-align: left;
    width: 100%;
}

.msg-timestamp {
    white-space: nowrap;;
}