body {
    background: #2B2B2B !important;
    color: #A9B7C6 !important;
}

input:focus, button:focus {
    outline: none !important;
    box-shadow: 0 0 0 1pt #B5C4D3;
}

#title {
    text-align: center;
}

#username, #password {
    width: 50%;
}

#username, #password, #submit {
    background: none;
    border-radius: 10px;
    border: solid #A9B7C6;
    color: #A9B7C6;
    margin-bottom: 1em;
}

#login-box {
    background: none;
    border-radius: 20px;
    border: solid #A9B7C6;
    color: #A9B7C6;
    padding: 1em;
    width: 10vw;
    float: none;
    margin: 0 auto;
}